$PageThemeColor:white;
$HeaderBackgroundImage:url("../img/m-h-day.jpg");
$TextFontFamily:'Hind', sans-serif;
$HeaderPColor:#2a2e3e;
$Font: 'Source Sans Pro', sans-serif;
$SpanColor:#4682b4;
$ButtonColor: #699900;
$BlockPColor:white;
$Banner-gradient: linear-gradient(40deg, #699900, lightskyblue);
$FooterAndSectionCardColor:#2a2e3e;