$PageThemeColor:#2a2e3e;
$HeaderBackgroundImage:url("../img/m-h-night.jpg");
$TextFontFamily:'Hind', sans-serif;
$HeaderPColor:white;
$Font: 'Source Sans Pro', sans-serif;
$SpanColor:#f08080;
$ButtonColor: #f1c40f;
$BlockPColor:white;
$Banner-gradient: linear-gradient(40deg, #f1c40f, #e74c3c);
$FooterAndSectionCardColor:#2e303a;