@media print {
    body {
        background-color: #fff;
    }

    nav,
    .tm-team-img,
    .gallery-container,
    .img-contact-us,
    .carousel-indicators,
    #contact {
        display: none;
    }

    section {
        text-align: center;
    }

    .tm-main-content {
        padding: 0;
        margin: 0;
    }

    .padding-medium h2 {
        color: lightskyblue;
        text-transform: uppercase;
    }

    ol {
        width: 400px;
        padding-left: 15px;
        list-style-type: none;
        margin: auto;
    }

    ol>li:nth-child(odd) {
        text-align: left;
    }

    ol>li:nth-child(even) {
        text-align: right;
    }

    ol>li>a {
        color: grey;
        text-transform: capitalize;
    }

    ol>li::first-letter {
        color: lightskyblue;
        font-size: 1.5em;
    }

    .heading,
    .tm-team-description-container {
        max-width: 100%;
        padding: 0;
    }

    .padding-medium,
    .carousel {
        padding: 0;
    }

    .tm-content-box {
        margin-bottom: 0;
    }
}
